<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myPlace copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>myPlace copy 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>myPlace copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mySharePosition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A907510416FB6075001C10C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96449BE16E11E9A00CCDE2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96449EF16E11E9B00CCDE2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9680B0B16F90A76001B4957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C0939616F656D1001B42F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
